
<label for="link_<%=index %>_title">Title</label>
<input id="link_<%=index %>_title" type="text" name="sub[links_attributes][<%=index %>][title]">

<label for="link_<%=index %>_url">URL</label>
<input id="link_<%=index %>_url" type="text" name="sub[links_attributes][<%=index %>][url]">

<label for="link_<%=index %>_body">Body(not required)</label>
<input id="link_<%=index %>_body" type="text" name="sub[links_attributes][<%=index %>][body]">
<br>

