<h2>Create a Sub</h2>
<% unless flash[:notice].nil? %>
<%= flash[:notice]%>
<%end %>
<form action="/subs" method="post">
  <input type="hidden" name="sub[user_id]" value="<%= @current_user.id %>">
  <%= params %>
  <label for="sub_name">Sub Name</label>
  <input id="sub_name" type="text" name="sub[name]" value="<%= @sub.name %>">
  <h3>Links</h3>
  <h5><em>You may add up to 5 links</em></h5>
  <% 5.times do |index| %>
    <%= render partial: "shared/add_link" , locals: {index: index}%>
  <% end %>

  <br>
  <%= render partial: "shared/csrf" %>
  <input type="submit" value="Create">
</form>

